html::-webkit-scrollbar {
    display: none;/*스크롤바 없애기*/
}
*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0px;
    color: #000;
}

h1 {
    font-size: 50px;
    font-weight: 100;
}

.contents1{
    font-size: 20px;
    font-weight: lighter;
}

.contents4{
    font-size: 13px;
    color: gray;
    font-weight: lighter;
}
.result1{
    font-size: 17px;
    font-weight: lighter;
}

.intro_bg{
    background-image: url("./20220701_014247.png");
    width: 100%;
    height: 766px;
}

.header{
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}
.searchArea{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-top: 24px;
}
.search > form > input {
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0, 0, 0, 0, 0); /*불투명도*/
    color: #fff;
    padding-left: 10px;
    
}
.searchArea> form > span {
    width: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: flex-end;
    width: calc(1280px - 300px); /*계산식 결과값*/
    line-height: 86px;
}
.nav > li{
    margin-left: 84px;
}
.nav > li > a {
    color:#fff;
}

.amount{
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
}

.amount > li {
    flex: 1;
    height: 130px;
    
}

.amount> li > div {
    text-align: center;
    
    margin-top: 37px;
    height: 56px;
}
.amount >li:not(:last-child)> div{
    border-right: 1px solid gray;
}

.intro_text{
    width: 100%;
    margin: 230px auto 230px auto;
    text-align: center;
}

.intro_text > h1,
.intro_text > h4{
    color:chartreuse;
}

/*main_text1*/
.main_text1 {
    width: 100%;
    height: 601px;
    margin-top: -132px;
    background: lightgray;
}
.main_text1 > h1 {
    padding-top: 116px;
    text-align: center;
}
.main_text1 > .contents1{
    text-align: center;
}

.icons {
    display: flex;
    width:1280px;
    height: 302px;
    margin: auto;
    
}

.icons > li {
    flex: 1;
    background: white;
    margin-top: 49px;
    height: 302px;
    text-align: center;
}

.icons > li:not(:last-child){
    margin-right: 20px;
}
.main_text1 {
    width: 100%;
    height: 601px;
    margin-top: -132px;
    background: lightgray;
}
/*main_text2*/
.main_text2{
    width: 100%;
    height: 660px;
    background: lightgray;
    
}
.main_text2{
    padding-top: 50px;
    text-align: center;
}
.mian_text2 > .contents1{
    text-align: center;
}